.cloudinarySwiper {
  width: min(400px, 90vw);
  height: min(700px, 80vh);

  margin: 30px auto;
}

.cloudinarySwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cloudinarySwiper .swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  cursor: pointer;
  object-fit: contain;
}